<h1><%= @cocktail.name %></h1>

<p>Ingredients</p>
<ul>
  <% @cocktail.doses.each do |dose| %>
    <li>
      <%= dose.ingredient.name %> --
      <%= dose.description %>
      <%= link_to 'Delete Ingredient', dose_path(dose), method:'delete' %>
      </li>
  <% end %>
</ul>

<%= link_to 'Add Ingredient', new_cocktail_dose_path(params[:id]) %>

<%= link_to 'Show all', cocktails_path %>

<%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>

<div class="card"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path @cocktail.photo, height: 300, width: 400, crop: :fill %>')">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2>Some stuff</h2>
    <p>Very cool stuff, useful and smart</p>
  </div>
  <a class="card-link" href="#" ></a>
</div>
